 .logo-design {
  width: 150px;
  height: 100px;
}

.navbar-a {
  color: white;
  font-family: Arial, sans-serif;
  display: flex;
  gap: 20px;
  padding: 20px;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 20px;
  scroll-behavior: smooth;
  background-color: #0b4f34;
}

.donate-design {
  background-color: green;
  color: white;
  border-radius: 10px;
  padding: 20px;
}
.head-er{
  color: white;
  font-size: large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
    .our-info{
      padding: 80px;
      text-align: center;
      background-color: rgb(156, 156, 180);
    }
    .fssmc-info{
      font-size: xx-large;
      font-weight: bolder;
    }

  .fsss-info {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 15px;
  text-decoration-color: green;
  background-color: f0f0f0;
  font-size: xx-large;
  display: inline-block;
  text-align: center; 
}
.our-mosque{
  width: 100%;
}

  .what-to-know {
  width: 60%;
  margin-right: auto;
  padding: 20px;
  margin-top: 10px;
  font-size: medium;
  display: inline-block;
  text-align: left;
  }
.p-info {
  font-size: larger;
  font-weight: 100;
  line-height: 30px;
 text-align: justify ;
 text-align: left;
 margin: 0px;
 font-family: open sans, sans serif;
 display: inline-block;
 margin-left: -20px;
 margin-top: -40px;
 margin-right: 80px;
 }
 .fssmc-mosque{
 align-items: center;
  gap:20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 80%;
  margin-right: auto;
  padding: 20px;
  margin-top: 10px;
}
 .fssmc-mosque img{
  width: 500px;
  border-radius: 20px;
  height:400px; 
 }
.facilities-amenities{
text-align: center;
  margin-bottom: 0px;
  padding-top: 80px;
  font-size: xx-large;
  }
.image-heading {
  position: absolute;
  bottom: 10px;       
  left: 10px;      
  color: white;
  background: rgba(0,0,0,0.5);
  padding: 5px 10px;
}
.image-gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  background: #0b4f34; 
  padding: 20px;
  margin-top: 100px;
  padding-top: 100px;
  margin-left:10px;
  gap: 20px;
}
.image-card {
 overflow: hidden;
  border-radius: 6px;
  position: relative;
  padding-bottom: 30px;
  float: right;
}
.image-card img {
  width: 90%;
  height: 90%;
  object-fit: cover;
  transition: transform 0.5s ease;
}
.image-card:hover img {
  transform: scale(1.15);
}
.program-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  background: #f2f2f2;
}

.program-box {
  text-align: center;
}
.mav-aim {
  text-align: center;
  margin-bottom: 0px;
  padding-top: 80px;
  font-size: xx-large;
  }

  .mission-icon {
  width: 200px;
  height: 200px;
  mix-blend-mode: color-burn;
  vertical-align: top;
  margin-bottom: -30px;
}

.community-container {
  color: black;
  font-family: Arial, sans-serif;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 10px 10px 5px 5px rgb(7, 80, 24);
  border-radius: 20px;
  vertical-align: top;
}

.community-containers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color:  rgb(14, 71, 41);
  gap: 20px;
  align-items: center;
  width: 100%;
  justify-content: center;
  vertical-align: top;
}
.donate-design {
  background-color: green;
  color: white;
  border-radius: 10px;
  padding: 20px;
}
.donate-design:hover {
  background-color: rgb(130, 96, 96);
}

.vision-mission{
  text-align: center; margin-top:90px; font-size: xx-large;
}

.div-vision-mission{
  display: grid; grid-template-columns: repeat(3, 1fr); gap: 30;
}
.vision-h3{
  font-size: xx-large; margin-bottom: -10px;
}

.vision-p{
  font-size: x-large;
}
.leadership{
  color: #0b4d2b; text-decoration: underline;text-underline-offset: 12px;margin-top: 30px;
}
.p-leadership{
  margin-bottom:30px; font-weight:500; font-size: large; font-size: 20px;
}

.program-box-div{
  margin-left: -5px;
}
.mosque-leadership-h2{
  color: #0b4d2b;

}
.roles-p{
  text-align: left; color: #0b4d2b; margin-top: -10px;
}
.members-include{
  margin-top:-15px; margin-left: -90px;color: #0b4d2b; 
}

.members-h3{
  text-align:left; margin-right: 100px;  margin-top: -25px;color: #0b4d2b; 
}
.meme-bers-li-first{
  text-align:left; margin-right: 100px;  margin-top: -25px;color: #0b4d2b; 
}

.memee-bers-li{
text-align:left; margin-right: 100px;color: #0b4d2b; 
}
.roless-p{
 text-align: left;color: #0b4d2b; margin-top: 0;
 } 
.daawa-committee{
  text-align: left; margin-top: 40px;color: #0b4d2b;
}
 .p-style{
  text-align: left;color: #0b4d2b;
 }
 .committee-includes{
  margin-bottom: 20px;color: #0b4d2b;
 }
 .roles-education-p{
  text-align: left; margin-top: 45px;color: #0b4d2b;
 }

 .welfare-committee{
 text-align: left; margin-top: 40px;color: #0b4d2b; 
 }

 .footer-overall-div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: rgb(201, 192, 192);
  mix-blend-mode: color-burn;
  gap: 900;
  margin-top: 100px;
}
.donation-homepage-div {
  margin-top: 10px;
  text-align: justify;
  font-weight: 500;
  margin-top: -20px;
  line-height: 40px;
  font-size: x-large;
  color: white;
  background-color: rgb(13, 54, 13);
  padding-right: 150px;
  padding-top: 50px;
  padding-left: 100px;
  padding-bottom: 80px;
}

.donation-div-sec {
  display: flex;
}
.donate-h2 {
  margin-top: 10px;
  font-size: xx-large;
  margin-left: 420px;
  font-weight: 900;
}

.donate-img {
  width: 50px;
  height: 70px;
  margin-top: -10px;
  mix-blend-mode: color-burn;
}
.donate-p {
  text-align: center;
}
.donate-p-span {
  font-style: oblique;
  font-weight: 900;
}
.footer-sec-div {
  margin-left: 100px;
}
.footer-third-div {
  display: flex;
}
.fssmc-h2-footer {
  color: rgb(17, 47, 17);
  font-weight: 900;
  font-size: x-large;
  margin-top: 100px;
  width: 50%;
}
.fssmc-p-footer {
  margin-right: 200px;
  margin-top: -10px;
  font-size: larger;
  line-height: 1.6;
}
.get-in-touch-overall-div {
  grid-template-rows: (2, 1fr);
}

.getintouch {
  margin-top: 100px;
}
.getintouch-email {
  text-decoration: none;
  color: rgb(16, 49, 16);
  font-size: large;
  font-weight: bolder;
  line-height: 40px;
}
.getintouch-phone {
  display: block;
  text-decoration: none;
  color: rgb(16, 49, 16);
  font-size: large;
  font-weight: bolder;
  line-height: 40px;
}
.getintouch-address {
  text-decoration: none;
  color: rgb(16, 49, 16);
  font-size: large;
  font-weight: bolder;
  line-height: 40px;
}
